<!-- COMPONENTE - CABECALHO DE NAVEGACAO -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a routerLink="/" class="navbar-brand">SGI</a>
        <!-- <p class="navbar-brand">Usuários</p> -->
        <button 
            class="navbar-toggler" 
            type="button"
            title="button-navbar"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="#navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link">Usuários</a>
                </li>
                <li>
                    <a routerLink="/data-binding" class="nav-link">Data Binding</a>
                </li>
                <li>
                    <a routerLink="/" class="nav-link">Relatórios</a>
                </li>
            </ul>
        </div>
    </div>
</nav>