<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * Application CRUD * * * * * * * * * * * * -->
<!-- * * * * * * * * * DIO - Philips BootCamp * * * * * * * * * * -->
<!-- * * * * * * * * * Fernando Gropp - 2022 * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-header></app-header>
<section class="container d-flex align-items-center justify-content-center">
    <div class="row w-100">
        <div class="col-12">
            <!-- DIRETIVA DE ROTAS DO ANGULAR -->
            <router-outlet></router-outlet>
        </div>
    </div>
</section>

